

table , td , th {
    border: 1px solid black;
}


th , td {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 20px;
}

td {
    background-color: red;
    color: white;
    border-top-style: dotted;
    border-color : black;
}

/* table {
    border-spacing: 60px;
} */